/* Index.html */
body#index {
    background-color: #f2f2f2;
}

section#index-main {
    padding: 20px;
    text-align: center;
}

section#index-main h1 {
    color: #333;
}

section#index-main p {
    color: #666;
}

/* About.html */
body#about {
    background-color: #fff;
}

section#about-main {
    padding: 20px;
    text-align: center;
}

section#about-main h1 {
    color: #333;
}

section#about-main p {
    color: #666;
}

/* Gallery.html */
body#gallery {
    background-color: #f9f9f9;
}

section#gallery-main {
    padding: 20px;
    text-align: center;
}

section#gallery-main h1 {
    color: #333;
}

section#gallery-main p {
    color: #666;
}

/* Reservation.html */
body#reservation {
    background-color: #f6f6f6;
}

section#reservation-main {
    padding: 20px;
    text-align: center;
}

section#reservation-main h1 {
    color: #333;
}

section#reservation-main p {
    color: #666;
}
