/* Základné nastavenia */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Navigačné menu */
nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Sekcie */
section {
    padding: 20px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
